body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
}

header {
    font-size: 40px;
    text-align: center;
}
.fish {
    border: dotted;
    display: flex;
    flex-wrap: wrap;
}
.quotes {
    border: dotted;
}

.locations{
    border: dotted;
}

.img {
    height: auto;
    width: auto;
}

.flex-left {

}

.flex-right {
    
    border: dotted;
    flex-direction: column;
}