@import url(fish.css);
@import url(locations.css);
@import url(quotes.css);


body {
    display: flex;
}

.mainHeader {
    font-size: 40px;
}

.img {

}

.flex-left {

}

.flex-right {
    ;
    border: dotted;
    
}